{% extends 'base.html.twig' %}

{% block title %}Modifier une adresse{% endblock %}

{% block body %}
    {{ include('partials/_title_section.html.twig', { name: 'Modification adresse' }) }}

    <div class="container">
        {{ include('partials/compte/_form-address.html.twig', { name: 'Modification de votre adresse' }) }}
    </div>
{% endblock %}





