<div class="card mb-4">
    <div class="card-header py-3">
        <h5 class="mb-0 text-primary">Coupon de réduction</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
                <p class="h6 text-uppercase text-muted mb-0">Code promo</p>
                <p class="mb-0">Entrez votre code promo</p>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <input style="width: 100%" type="text" class="form-control" placeholder="Code Promo" aria-label="Code promo" aria-describedby="button-addon2">
                </div>
            </div>
            <button class="w-75 d-block mx-auto btn btn-primary" type="button" id="button-addon2">Appliquer</button>
        </div>
    </div>
</div>
