<div class="" id="address">
    <div class="row">
        <div class="col-lg-12 my-3">
            <a href="#" class="btn btn-outline-primary mb-3">
                Ajouter une nouvelle adresse
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-3 mb-lg-0">
                <div class="card-header">
                    <h4> Adresse # 1 </h4>
                </div>
                <div class="card-body">
                    <address> {{ app.user.firstname }} {{ app.user.lastname }}<br>
                        25 Rue symfony <br>
                        App n°10 <br>
                        Paris <br>
                        75000<br>
                        France
                    </address>
                </div>
                <div class="card-footer py-3">
                    <div class="btn-group d-flex justify-content-between mx-1" role="group" aria-label="Edition addresse">
                      <button type="button" class="btn btn-sm btn-warning">Modifier</button>
                      <button type="button" class="btn btn-sm btn-danger">Supprimer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
