{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
    {{ include('partials/_title_section.html.twig', { name: 'Votre compte' }) }}
    <div class="">
        {{ include('partials/_flash_messages.html.twig') }}
    </div>


    <div class="section mt-3">
        <div class="container-fluid">
            <div class="row">
                {# Sidebar #}
                <div class="col-lg-3 col-md-4">
                    {{ include('partials/account/_sidebar_account.html.twig') }}
                </div>
                {# End Sidebar #}

                <div class="col-lg-9 col-md-8">
                    {{ include('partials/account/_account_welcome_card.html.twig') }}
                    <div class="my-3">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


    {% block javascripts %}
        <script>
            function displayDetails() {
                const detail = document.querySelector('#account-detail');
                // detail.classListToggle(');
                detail.style.backgroundColor = '#f00';
                console.log('calling')
            }
        </script>
    {% endblock %}

