<nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
    <a class="navbar-brand" href="/">
        <span class="p-3">La Boutique CyrCréa</span>
    </a>

    <ul class="navbar-nav">
        {% if app.user %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">
                Déconnexion
                <i class="bi bi-box-arrow-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-cart3 position-relative" style="font-size:24px">
                    <span id='cartCount' style="font-size:8px" class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">2</span>
                </i>
            </a>
        </li>
        {% endif %}

        {% if not app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">
                    Connexion
                    <i class="bi bi-box-arrow-in-right"></i>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}">
                    Inscription
                <i class="bi bi-person-plus"></i>
                </a>
            </li>
        {% endif %}
    </ul>

</nav>


{% if app.user %}
{% endif %}
