@import './components/black-component';
@import './components/light-component';
@import './components/breadcrumb';
@import './components/login_registration';
@import './components/errors';
@import './variables/colors';
@import '~bootstrap';
@import '~bootstrap-icons';
@import '~bootstrap/scss/variables';

body {
  font-family: 'open sans', sans-serif;
}

html {
  height: 100vh;
}

.header {
  @include black-component;

  border-bottom: 2px solid $red-component-border;
  padding: 0;

  .logo {
    width: 50px;
    height: auto;
  }
}

#content-app {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

aside {
  a {
    color: #262626 !important;
  }
}

.footer {
  @include black-component;

  border-top: 2px solid $red-component-border;
  color: #fff;

  span {
    color: #ff0000;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }

  a:hover {
    color: #efefee;
  }
}

.component-light {
  @include light-component;
  margin-top: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 900px;
}

.aside-collapsed {
  padding: 0 15px;
}

.capitalize {
  text-transform: capitalize;
}

.separator {
  border: 0;
  border-radius: 50%;
  height: 4px !important;
  width: 50%;
  margin: 0 0 0 25%;
  opacity: .6;
  background-image: linear-gradient(to left, #CCC, $primary, #CCC);
}


a.link {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: $primary;
}

a.link:hover {
  font-weight: bold;
}

a.link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, $hover, $primary, $hover);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

a.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.border_top_transition {
  border-top: 3px solid rgba(39, 97, 134, .5);
}

.border_bottom_transition {
  border-bottom: 1px solid rgba(39, 97, 134, .5);
}
