{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
    {{ include('partials/_title_section.html.twig', { name: 'Votre compte' }) }}
    <div class="">
        {{ include('partials/_flash_messages.html.twig') }}
    </div>


    <div class="section mt-3">
        <div class="container-fluid">
            <div class="row">
                {# Sidebar #}
                <div class="col-lg-3 col-md-4">
                    {{ include('partials/compte/_sidebar_account.html.twig') }}
                </div>
                {# End Sidebar #}

                <div class="col-lg-9 col-md-8">
                    <div id="welcome_card">
                        {{ include('partials/compte/_account_welcome_card.html.twig') }}
                    </div>
                    <div>
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

