:root {
  --color-dark:  #161616;
  --color-ocean:  #416dea;
  --color-grass: #3dd28d;
  --color-snow: #FFFFFF;
  --color-salmon: #F32C52;
  --color-sun: #ffd814;
  --color-alge: #7999a9;
  --color-flower: #353866;
  --color-smoke: #e4e4e4;
  --color-opal:#0082960C;

  --borderRadius: 50px;

}

.button {
  display: flex;
  overflow: hidden;

  margin: 10px;
  padding: 10px 10px;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;

  color: #fff;
  border: 0 none;
  border-radius: var(--borderRadius);

  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  justify-content: center;
  align-items: center;
  flex: 0 0 160px;

  box-shadow: 2px 5px 10px var(--color-smoke);

  &:hover {
    transition: all 300ms ease-in-out;
    opacity: .85;
  }

  &:active {
    transition: all 150ms linear;
    opacity: .75;
  }

  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
}

.button.basic {
  //color: #202129;
  color: slategrey;
  background-color: rgba(0, 0, 0, 0.03);
  border-color: #D5D9D9;
  border-style: solid;
  border-width: 1px;
  transition: 0.25s ease-in-out;


  &:hover {
    color: #363636;
    background-color: var(--color-smoke);
    letter-spacing: 1px;
    scale: 1.05;
    //box-shadow: 2px 5px 10px rgba(0, 130, 150, 0.2);
    opacity: 1;
  }
}

.button.bg-primary {
  &:hover {
    color: whitesmoke;
    opacity: inherit;
    background-color: #2a6990 !important;
  }

  &:active {
    background-color: #d5d6d6;
    opacity: 1;
  }
}

.btn_radius-left {
    border-radius: 4px 0 0 4px !important;
}
.btn_radius-right {
    border-radius: 0 4px 4px 0 !important;
}

.search_form-border:focus-within {
  margin: -1px;
  padding: 0;
  border: 4px solid #9cc5c7;
  border-radius: 8px;
}
