{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {{ include('layout/partials/_title_section.html.twig', { name: 'Liste de nos produits' }) }}

    {# Afficher la liste des produit #}
    <section id="products-cards" class="px-4">
        <div id="product-card">
            <div class="row">
                {% for product in products %}
                    {% include('product/_product-card.html.twig') %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
