{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{{ include('layout/partials/_title_section.html.twig', { name: 'Liste de nos produits' }) }}

<section>

    <div class="bg-dark container-fluid">
        <div class="row p-5">
            {% for new in news %}
                {% include('layout/partials/products/new_arrival_card.html.twig') %}
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for produit in produits %}
                {% include('layout/partials/products/card.html.twig') %}
            {% endfor %}
        </div>
    </div>

</section>

{% endblock %}
