{% extends 'base.html.twig' %}

{% block title %}CGU - Boutique CyrCréa{% endblock %}

{% block body %}
    {{ include('partials/_title_section.html.twig', {'name': 'Conditions Générales d\'Utilisation'})  }}

    <div id="cgu" class="container">
        <h1 class="text-center py-4">Conditions Générales d'Utilisation du site <br><span class="app_title">La Boutique CyrCréa</span></h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet blanditiis delectus distinctio dolore dolores
            eaque esse et, eveniet exercitationem ipsam iure laborum magnam modi obcaecati quis ratione soluta tempora
            ut.
        </p>
        <p>
            Doloribus ipsum unde voluptate? Fuga maiores modi nostrum possimus sunt, tenetur ut vero? Distinctio, optio
            soluta? Accusamus, culpa cum cumque cupiditate, ex fugiat harum laboriosam natus quisquam quo, sapiente
            tempore.
        </p>
        <p>
            Accusantium commodi dolor doloremque ducimus earum ex facere fuga id impedit ipsum laudantium libero nihil
            nobis obcaecati optio pariatur possimus provident quidem repellat sed, tempora tempore vitae. Aspernatur,
            molestiae quam.
        </p>
        <p>
            Delectus dolor nesciunt tempora. A assumenda aut consequuntur delectus, deleniti dicta, dolor doloribus
            eaque
            eos iste natus nobis pariatur perferendis, quia soluta ullam voluptates. At blanditiis error quam rem
            tenetur.
        </p>
        <p>
            Autem distinctio dolor dolore ducimus earum eligendi est excepturi illo ipsum iure, maxime minima, nam neque
            non obcaecati optio perferendis rem repellat repudiandae temporibus totam ullam voluptate voluptates?
            Doloribus, perspiciatis?
        </p>
        <p>
            Aperiam inventore maiores temporibus. Animi esse facilis iure laborum odit quidem quos sint! Consequatur
            cum,
            cumque deleniti dolorem et eveniet fugiat fugit, numquam officiis omnis quidem rem sapiente voluptates,
            voluptatum.
        </p>
        <p>
            A animi asperiores, blanditiis delectus illo ipsam laboriosam officia suscipit temporibus. Harum, inventore
            necessitatibus odit officiis perspiciatis quae quaerat tenetur unde. Distinctio laboriosam laborum magnam
            nulla odio suscipit tenetur velit.
        </p>
        <p>
            Ad aperiam consequuntur dolorem eum ipsam, itaque laudantium magnam maiores nam non quae qui quia, quis
            quisquam, sapiente sequi voluptate. Aspernatur, consequatur culpa deleniti exercitationem libero non quo ut
            vel?
        </p>
        <p>
            Commodi, culpa dolorem doloribus ducimus ea enim fugiat labore laudantium magnam minima molestias
            perferendis
            placeat provident sapiente, suscipit tenetur voluptatum. Autem expedita natus necessitatibus odio, porro quo
            rem soluta vitae?
        </p>
        <p>
            Accusantium distinctio, dolorem dolores est ex minima nam perferendis placeat quia reprehenderit sit veniam
            veritatis. Ad adipisci commodi dolorum, expedita impedit in nemo neque nesciunt, obcaecati quisquam quo sit,
            voluptas.
        </p>
        <p>
            Ab atque autem, corporis dicta dolor dolore ea, excepturi iusto natus nihil non obcaecati optio quibusdam
            reprehenderit temporibus tenetur vitae voluptates? Error illo, maiores maxime quisquam quod recusandae ullam
            voluptas!
        </p>
        <p>
            Accusamus ad at corporis cupiditate delectus deleniti dicta doloremque ducimus ex explicabo iusto laboriosam
            libero magnam minima molestiae necessitatibus placeat quae quasi quo reiciendis rem, reprehenderit sapiente
            soluta ut voluptates?
        </p>
        <p>
            Dolorum minus mollitia nemo nulla quis tenetur? Consequatur, deleniti error fugiat possimus quibusdam
            tenetur
            veniam? Commodi dolorum fuga illum impedit neque! A aliquid consectetur error repudiandae rerum soluta sunt,
            ut?
        </p>
        <p>
            Blanditiis, et perspiciatis! Accusamus asperiores, consequatur cum cumque dolorem enim esse facilis illum,
            iste, itaque molestias numquam odit sed tenetur ut! A ad amet asperiores aut consequuntur eius itaque
            vel.
        </p>
        <p>
            A alias animi, assumenda blanditiis, consequatur consequuntur cupiditate ea expedita explicabo harum impedit
            in ipsam labore libero maxime obcaecati officia perspiciatis quaerat qui quia quis rem rerum tenetur ullam
            voluptatibus?
        </p>
        <p>
            Ab aliquam, animi blanditiis commodi deserunt distinctio doloribus ea eligendi, eos esse facilis id iure
            laboriosam maiores maxime nesciunt nisi nostrum quia quo repellat saepe sequi sint soluta ullam
            voluptates!
        </p>
        <p>Ab accusantium adipisci asperiores assumenda aut blanditiis consequatur debitis, doloribus, explicabo libero
            magnam minus nam numquam odio odit porro quasi quo ratione recusandae sequi tempore, totam ut voluptatibus.
            Error, quidem?
        </p>
        <p>Accusantium aperiam aut beatae commodi debitis delectus deserunt distinctio dolores doloribus ducimus ea eius
            facilis incidunt ipsam, maxime minus molestias, natus non porro possimus praesentium quo unde vel voluptas
            voluptatum?
        </p>
        <p>
            Earum et iusto magnam tempora tenetur! Aliquam consectetur nemo officia ratione repudiandae soluta tempore.
            Ad debitis ducimus eum laudantium voluptatum. Eligendi magnam nulla quasi temporibus, unde voluptatum?
            Alias, odit, porro?
        </p>
        <p>
            Alias dolore eaque error incidunt iusto nihil quod. Ab animi aperiam distinctio nisi omnis quisquam suscipit
            totam. Architecto error facere facilis nam quibusdam quos, repellat veniam. Aliquam maiores maxime
            voluptatibus?
        </p>
    </div>
{% endblock %}
