$light-component-border: #efefee;
$light-component-link: #007bff;
$blue-component-link-hover: #add8e6;

$black-component-background: #031120;
$red-component-border: #BA1414;

// Couleur de base du site
$primary: #276186;
$hover: rgba(42, 162, 176, .3);

// Nuance de gris
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
