$light-component-border: #efefee;
$light-component-link: #007bff;
$blue-component-link-hover: #add8e6;

$black-component-background: #031120;
$red-component-border: #BA1414;

// Couleur de base du site
$primary: #1d5e89;
