<div class="card">
    <div class="card-header">
        <h3 class="text-uppercase">Bonjour {{ app.user.firstname }} {{ app.user.lastname }}</h3>
    </div>
    <div class="card-body">

        <p>Depuis le tableau de bord de votre compte, vous pouvez facilement vérifier &amp;
            consulter
            <a href="#">
                vos dernières commandes
            </a>
            , gérez vos
            <a href="#">
                adresses d'expédition et de facturation
            </a>
            et
            <a href="#">
                modifier votre mot de passe et les détails de votre compte.
            </a>
        </p>
    </div>
</div>
