{% extends 'base.html.twig' %}

{% block title %}Nouvelle adresse{% endblock %}

{% block body %}
    {{ include('partials/_title_section.html.twig', { name: 'Ajouter une nouvelle adresse' }) }}

    <h1 class="text-center my-3">Création d'une nouvelle adresse 🪄</h1>

    <div class="container">
        {{ include('address/_form.html.twig', { name: 'Votre nouvelle adresse' }) }}
    </div>
{% endblock %}
